@model IEnumerable<Cinema.Models.Room>

@{
    ViewBag.Title = "Залы кинотеатра";
}

<h2>Залы</h2>

@if (User.IsInRole("admin"))
{
<p>
    @Html.ActionLink("Добавить", "Create")
</p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RoomName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Capacity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RoomName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Capacity)
        </td>
        <td>
            @if (User.IsInRole("admin"))
            {
                @Html.ActionLink("Удалить | ", "Delete", new { id = item.RoomId })
                @Html.ActionLink("Изменить | ", "Edit", new { id = item.RoomId })
            }
            @Html.ActionLink("Подробно", "Details", new { id=item.RoomId })
        </td>
    </tr>
}

</table>
