@model IEnumerable<Cinema.Models.Review>

@{
    ViewBag.Title = "Отзывы";
}

<h2>Отзывы</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Фильм
        </th>
        <th>
            Название
        </th>
        <th>
            Отзыв
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Film.FilmName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameTitle)
        </td>
        <td class="container">
            @Html.TextAreaFor(modelItem => item.AllAbout, new {cols=60,rows=10, @class="form-control"})
        </td>
        <td>
            @Html.ActionLink("Удалить", "Delete", new { id=item.ReviewId })
        </td>
    </tr>
}

</table>
