@model IEnumerable<Cinema.Models.Ticket>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Client.Family)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sector.SectorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NColumn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NSpot)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Client.Family)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sector.SectorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NColumn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NSpot)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TicketId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TicketId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TicketId })
        </td>
    </tr>
}

</table>
