@model IEnumerable<Cinema.Models.Film>

@{
    ViewBag.Title = "Фильмы";
}

<h2>Фильмы</h2>
@if (User.IsInRole("admin"))
            {
<p>
    @Html.ActionLink("Добавить", "Create")
</p>
            }           
@using (Html.BeginForm())
{
    @Html.Label("Жанр")
    @Html.DropDownList("GenreId", "Все")
    <p><input type="submit" value="Поиск" /></p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ECRB.ECRBName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre.GenreName)
        </th>
        <th>
            Название фильма
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ECRB.ECRBName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre.GenreName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FilmName)
        </td>
        <td>
            @if (User.IsInRole("admin"))
            {
                @Html.ActionLink("Удалить | ", "Delete", new { id = item.FilmId })
                @Html.ActionLink("Изменить | ", "Edit", new { id = item.FilmId })
            }
            @Html.ActionLink("Подробно", "Details", new { id=item.FilmId }) |
            @Html.ActionLink("Отзывы", "ThisRating",new {Film=item.FilmName}) |
            @Html.ActionLink("Оставить отзыв", "AddReview", new { id = item.FilmId })
        </td>
    </tr>
}

</table>
